# Ignore the local settings
/.vscode

# Ignore all .wav files under songs
songs/*.wav

# Ignore all files under lyrics except read_this.txt
lyrics/**
!read_this.txt

# Ignore the save file
save.file

# Ignore the testing file
testing.py

# IDK what this file is but I'm too scared to delete it
__pycache__/*