# Ignore the local settings
/.vscode

# Ignore all .wav song files under songs
songs/*.wav

# Ignore all files under lyrics except read_this.txt
lyrics/**
!read_this.txt

# Ignore the save file (doesn't work)
save_file.json

# Ignore the testing file
testing.py

# IDK what these files are but I'm too scared to delete them
__pycache__/*
desktop.ini